df = pd.DataFrame({
    'id': ['abc', 'abc', 'abc', 'def', 'def', 'def', 'def'],
    'date': [666, 505, 501, 418, 312, 212, 666]})
df.sort('date', ascending=False, inplace=True)
df.reset_index(drop=True,inplace=True)

#And here's a function that, for each group, appends the previous date:

def prev_dates(g):
    g.sort(columns=['date'])
    g['prev'] = g.date.shift(-1)
    return g

#So all that's needed is to connect things:

df.groupby(df.id).apply(prev_dates)

In [13]:
import pandas as pd

In [14]:
pd.set_option('display.max_rows', 2)

In [15]:
trap_catch_csv = 'guam_trap_catch.csv'

In [16]:
df = pd.DataFrame.from_csv(trap_catch_csv, index_col=False, parse_dates=[1])
df

       trap_id   end_date  ntrapped
0      0002MAN 2012-08-29         1
...        ...        ...       ...
89273    X9999 2008-04-09         0

[89274 rows x 3 columns]

In [17]:
df.sort('end_date', ascending=False, inplace=True)
df.reset_index(drop=True,inplace=True)

#And here's a function that, for each group, appends the previous date:

def prev_dates(g):
    g.sort(columns=['end_date'])
    g['start_date'] = g.end_date.shift(-1)
    return g

#So all that's needed is to connect things:

df = df.groupby(df.trap_id).apply(prev_dates)
df

      trap_id   end_date  ntrapped start_date
0       X0125 2015-12-31         2 2015-07-28
...       ...        ...       ...        ...
89273  x2007M        NaT         0        NaT

[89274 rows x 4 columns]

In [18]:
df = df[['trap_id', 'start_date','end_date','ntrapped']]
df.dropna(inplace=True)
df.to_csv('guam_trap_catch2.csv', index=False)
df

/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

         trap_id start_date   end_date  ntrapped
0          X0125 2015-07-28 2015-12-31         2
...          ...        ...        ...       ...
89026  Uber Trap 2007-10-05 2007-10-07         2

[85615 rows x 4 columns]