In [41]:
import pymysql
import getpass
import pandas as pd

# Get password for project database

In [42]:
password = getpass.getpass()
conn = pymysql.connect(host='mysql.guaminsects.net',user='aubreymoore',passwd=password,db='oryctes')

········

# Make trap_location.csv

In [43]:
sql= """
SELECT trap_id, latitude, longitude, date_deployed, date_removed 
FROM trap
WHERE trap_id LIKE 'PA%'
"""
df = pd.io.sql.read_sql(sql, conn)
df.to_csv('PA_trap_location.csv', index=False)
pd.set_option('display.max_rows', 2)
df

   trap_id  latitude  longitude date_deployed date_removed
0    AP001  13.47741  144.80824    2015-04-02         None
..     ...       ...        ...           ...          ...
76   AP077  13.48405  144.81497    2015-04-22         None

[77 rows x 5 columns]

In [44]:
pd.set_option('display.max_rows', 100)
df.describe()

        latitude   longitude
count  77.000000   77.000000
mean   13.485042  144.801924
std     0.009203    0.012248
min    13.470460  144.776760
25%    13.476970  144.792480
50%    13.484130  144.802730
75%    13.493460  144.812270
max    13.500750  144.821460

# Make trap_catch.csv

In [45]:
# Note that the SQL contains a join which ensures that all values of trap_id exist in both the trap_location.csv and trap_catch.csv files.
sql = """
SELECT trap_visit.trap_id AS trap_id, visit_date AS end_date, male_count + female_count + unsexed_count AS ntrapped
FROM trap, trap_visit
WHERE trap_visit.trap_id = trap.trap_id AND trap_visit.trap_id LIKE 'PA%'
"""
df = pd.io.sql.read_sql(sql, conn)
pd.set_option('display.max_rows', 2)
df

     trap_id    end_date  ntrapped
0      AP001  2015-04-13         1
...      ...         ...       ...
1333   AP077  2016-04-18         0

[1334 rows x 3 columns]

### Date deployed is added for each trap to provide a start_date for the first trapping period

In [46]:
sql = """
SELECT trap_id, date_deployed AS end_date, 0 as ntrapped
FROM trap
WHERE trap_id LIKE 'PA%'
"""
df = df.append(pd.io.sql.read_sql(sql, conn))
pd.set_option('display.max_rows', 2)
df

   trap_id    end_date  ntrapped
0    AP001  2015-04-13         1
..     ...         ...       ...
76   AP077  2015-04-22         0

[1411 rows x 3 columns]

In [47]:
conn.close()

In [48]:
df.sort('end_date', ascending=False, inplace=True)
df.reset_index(drop=True,inplace=True)

#And here's a function that, for each group, appends the previous date:

def prev_dates(g):
    g.sort(columns=['end_date'])
    g['start_date'] = g.end_date.shift(-1)
    return g

#So all that's needed is to connect things:

df = df.groupby(df.trap_id).apply(prev_dates)
pd.set_option('display.max_rows', 2)
df

     trap_id    end_date  ntrapped  start_date
0      AP004  2016-04-26         0  2016-03-29
...      ...         ...       ...         ...
1410   AP058        None         0         NaN

[1411 rows x 4 columns]

In [49]:
df = df[['trap_id', 'start_date','end_date','ntrapped']]
df.dropna(inplace=True)
df.to_csv('PA_trap_catch.csv', index=False)
pd.set_option('display.max_rows', 2)
df

/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

     trap_id  start_date    end_date  ntrapped
0      AP004  2016-03-29  2016-04-26         0
...      ...         ...         ...       ...
1370   AP037  2015-04-08  2015-04-13         0

[1331 rows x 4 columns]