In [7]:
import pymysql
import getpass
import pandas as pd

In [8]:
pd.set_option('display.max_rows', 2)

# Get password for project database

In [9]:
password = getpass.getpass()
conn = pymysql.connect(host='mysql.guaminsects.net',user='aubreymoore',passwd=password,db='oryctes')

········

# Make trap_location.csv

In [10]:
sql = "SELECT trap_id, latitude, longitude FROM trap"
df = pd.io.sql.read_sql(sql, conn)
df.to_csv('guam_trap_location.csv', index=False)
df

      trap_id  latitude  longitude
0     0002MAN  13.45348  144.79247
...       ...       ...        ...
2266    X9999  13.51223  144.80719

[2267 rows x 3 columns]

# Make trap_catch.csv

In [11]:
# Note that the SQL contains a join which ensures that all values of trap_id exist in both the trap_location.csv and trap_catch.csv files.
sql = """
SELECT trap_visit.trap_id AS trap_id, visit_date AS end_date, male_count + female_count + unsexed_count AS ntrapped
FROM trap, trap_visit
WHERE trap_visit.trap_id = trap.trap_id
"""
df = pd.io.sql.read_sql(sql, conn)
df

       trap_id    end_date  ntrapped
0      0002MAN  2012-08-29         1
...        ...         ...       ...
86884    X9999  2013-07-30         0

[86885 rows x 3 columns]

### Date deployed needs to be added for each trap to provide a start_date for the first trapping period

In [12]:
sql = """
SELECT trap_id, date_deployed AS end_date, 0 as ntrapped
FROM trap
"""
df = df.append(pd.io.sql.read_sql(sql, conn))
df.to_csv('guam_trap_catch.csv', index=False)
df

      trap_id    end_date  ntrapped
0     0002MAN  2012-08-29         1
...       ...         ...       ...
2266    X9999  2008-04-09         0

[89152 rows x 3 columns]

In [13]:
conn.close()