Start by downloading CSV file from EpiCollect site:
http://epicollectserver.appspot.com/project.html?name=crb_yigo_barrel_traps

In [23]:
import pandas as pd
from datetime import timedelta
import pymysql
import getpass

In [24]:
df = pd.DataFrame.from_csv('listEntriesCSV.csv',index_col=False,parse_dates=True)
df.drop(['key','latitude','longitude','altitude','deviceId','entryId','lastEdited',
         'timeUploaded','projectName','photo','Unnamed: 15'],inplace=True,axis=1)
# Convert dateCreated from string to datatime
df['dateCreated'] = pd.to_datetime(df['dateCreated'])
# Convert from GMT to ChST by adding 10 hours
df['dateCreated'] = df['dateCreated'] + timedelta(hours=10)
# Replace all NaNs with 0
df.fillna(0, inplace=True)
# Create endDate column and drop dateCreated
df['endDate'] = df['dateCreated'].apply(lambda x: x.strftime('%Y-%m-%d'))
df.sort(['endDate','barrelID'],inplace=True)
# Reorder columns
df = df[['endDate','barrelID','males','females','note']]
df.rename(columns={'note': 'notes'}, inplace=True)
df

        endDate  barrelID  males  females notes
474  2014-10-15         1      0        0     0
129  2014-10-15         2      0        1     0
597  2014-10-15         3      0        0     0
134  2014-10-15         4      0        0     0
488  2014-10-15         5      1        1     0
246  2014-10-15         6      0        0     0
124  2014-10-15         7      1        0     0
307  2014-10-15         8      0        2     0
312  2014-10-15         9      0        2     0
645  2014-10-15        10      0        0     0
628  2014-10-15        11      2        3  2703
432  2014-10-15        12      1        0     0
591  2014-10-15        13      0        0     0
256  2014-10-15        14      2        2     0
298  2014-10-15        15      2        0     0
788  2014-10-15        16      0        1     0
563  2014-10-15        17      0        0     0
772  2014-10-15        18      0        0     0
136  2014-10-15        19      0        0     0
233  2014-10-15        20      0        5  2636
268  2014-10-15        21      1        1     0
579  2014-10-15        22      0        0     0
830  2014-10-15        23      0        1     0
863  2014-10-15        24      0        0     0
450  2014-10-15        25      2        0     0
632  2014-10-15        26      1        0     0
159  2014-10-15        27      0        0     0
613  2014-10-15        28      3        5  2436
508  2014-10-15        29      2        2     0
165  2014-10-15        30      1        1  2603
..          ...       ...    ...      ...   ...
518  2015-06-26         9      0        0     0
452  2015-06-26        18      1        1     0
614  2015-06-26        24      3        1     0
687  2015-06-26        24      3        1     0
422  2015-06-26        25      1        2     0
650  2015-06-26        27      0        0     0
418  2015-06-26        28      6        1     0
472  2015-06-29         2      0        0     0
164  2015-06-29         3      2        1     0
669  2015-06-29         5      1        1     0
151  2015-06-29         6      1        2     0
200  2015-06-29         7      0        1     0
529  2015-06-29         8      1        2     0
629  2015-06-29        10      0        0     0
571  2015-06-29        11      0        1     0
497  2015-06-29        12      2        2     0
174  2015-06-29        13      0        0     0
550  2015-06-29        14      1        0     0
567  2015-06-29        15      2        0     0
588  2015-06-29        16      0        0     0
443  2015-06-29        17      0        0     0
520  2015-06-29        19      2        2     0
224  2015-06-29        20      0        0     0
272  2015-06-29        21      2        3     0
533  2015-06-29        22      0        0     0
522  2015-06-29        23      0        0     0
586  2015-06-29        26      0        2     0
621  2015-06-29        29      0        3     0
525  2015-06-29        30      1        2     0
615  2015-06-29        31      0        0     0

[922 rows x 5 columns]

## Get last trapping period from project database

In [25]:
conn = pymysql.connect(host='mysql.guaminsects.net',user='readonlyguest',passwd='readonlypassword',db='oryctes')
sql = """
SELECT * 
FROM YigoBarrelObs
"""
df_obs = pd.io.sql.read_sql(sql, conn)
conn.close()

## Keep only the last trapping session data

In [26]:
maxEndDate = df_obs['endDate'].max()
df_obs = df_obs[df_obs['endDate'] == maxEndDate]
df_obs = df_obs.sort('barrelID')
df_obs

,id,barrelID,trapType,lure,uvled,funnel,substrate,startDate,endDate,males,females,notes
1728,3134,1,P,y,y,y,y,2015-05-08,2015-05-28,4,4,2890
1729,3135,2,P,y,y,y,y,2015-05-08,2015-05-28,2,3,0
1730,3136,3,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1731,3137,4,P,y,y,y,y,2015-05-08,2015-05-28,3,0,2896
1732,3138,5,P,y,y,y,y,2015-05-08,2015-05-28,3,9,0
1733,3139,6,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1734,3140,7,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1735,3141,8,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1736,3142,9,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1737,3143,10,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1738,3144,11,P,y,y,y,y,2015-05-08,2015-05-28,2,0,2765
1739,3145,12,P,y,y,y,y,2015-05-08,2015-05-28,2,0,0
1740,3146,13,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1741,3147,14,P,y,y,y,y,2015-05-08,2015-05-28,3,1,0
1742,3148,15,P,y,y,y,y,2015-05-08,2015-05-28,4,1,0
1743,3149,16,P,y,y,y,y,2015-05-08,2015-05-28,0,1,0
1744,3150,17,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1745,3151,18,P,y,y,y,y,2015-05-08,2015-05-28,3,1,0
1746,3152,19,P,y,y,y,y,2015-05-08,2015-05-28,0,3,0
1747,3153,20,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1748,3154,21,P,y,y,y,y,2015-05-08,2015-05-28,0,2,0
1749,3155,22,P,y,y,y,y,2015-05-08,2015-05-28,2,0,0
1750,3156,23,P,y,y,y,y,2015-05-08,2015-05-28,0,0,0
1751,3157,23,P,y,y,y,y,2015-05-08,2015-05-28,0,2,0
1752,3158,24,P,y,y,y,y,2015-05-08,2015-05-28,9,2,0
1753,3159,25,P,y,y,y,y,2015-05-08,2015-05-28,6,3,0
1754,3160,27,P,y,y,y,y,2015-05-08,2015-05-28,1,1,0
1755,3161,28,P,y,y,y,y,2015-05-08,2015-05-28,5,3,0
1756,3162,29,P,y,y,y,y,2015-05-08,2015-05-28,2,4,0
1757,3163,30,P,y,y,y,y,2015-05-08,2015-05-28,3,3,0
1758,3164,31,P,y,y,y,y,2015-05-08,2015-05-28,1,2,0

## In the dataframe of EpiCollect data, delete all observations prior to the last endDate in the project database. We want to append only new data.

In [27]:
strMaxEndDate = maxEndDate.strftime('%Y-%m-%d')
df_new = df[df['endDate'] > strMaxEndDate]
df_new

        endDate  barrelID  males  females notes
225  2015-06-05         1      0        0     0
635  2015-06-05         2      0        0     0
413  2015-06-05         3      2        1     0
631  2015-06-05         4      0        2     0
619  2015-06-05         5      3        4     0
276  2015-06-05         6      0        2     0
460  2015-06-05         7      0        0     0
427  2015-06-05         8      0        0     0
250  2015-06-05         9      1        2     0
245  2015-06-05        10      0        0     0
819  2015-06-05        11      3        2     0
319  2015-06-05        12      1        0     0
609  2015-06-05        13      0        2     0
143  2015-06-05        14      0        0     0
173  2015-06-05        15      1        2     0
434  2015-06-05        16      0        1     0
576  2015-06-05        17      2        1     0
253  2015-06-05        18      0        0     0
794  2015-06-05        19      0        0     0
440  2015-06-05        20      0        0     0
593  2015-06-05        21      2        1     0
184  2015-06-05        22      0        0     0
137  2015-06-05        23      0        0     0
584  2015-06-05        24      2        1     0
577  2015-06-05        25      3        1     0
846  2015-06-05        26      1        0     0
532  2015-06-05        27      0        0     0
265  2015-06-05        28      0        2     0
222  2015-06-05        29      2        1     0
683  2015-06-05        30      1        1     0
..          ...       ...    ...      ...   ...
518  2015-06-26         9      0        0     0
452  2015-06-26        18      1        1     0
614  2015-06-26        24      3        1     0
687  2015-06-26        24      3        1     0
422  2015-06-26        25      1        2     0
650  2015-06-26        27      0        0     0
418  2015-06-26        28      6        1     0
472  2015-06-29         2      0        0     0
164  2015-06-29         3      2        1     0
669  2015-06-29         5      1        1     0
151  2015-06-29         6      1        2     0
200  2015-06-29         7      0        1     0
529  2015-06-29         8      1        2     0
629  2015-06-29        10      0        0     0
571  2015-06-29        11      0        1     0
497  2015-06-29        12      2        2     0
174  2015-06-29        13      0        0     0
550  2015-06-29        14      1        0     0
567  2015-06-29        15      2        0     0
588  2015-06-29        16      0        0     0
443  2015-06-29        17      0        0     0
520  2015-06-29        19      2        2     0
224  2015-06-29        20      0        0     0
272  2015-06-29        21      2        3     0
533  2015-06-29        22      0        0     0
522  2015-06-29        23      0        0     0
586  2015-06-29        26      0        2     0
621  2015-06-29        29      0        3     0
525  2015-06-29        30      1        2     0
615  2015-06-29        31      0        0     0

[124 rows x 5 columns]

In [28]:
df_new['trapType'] = 'P'
df_new['lure'] = 'y'
df_new['uvled'] = 'y'
df_new['funnel'] = 'y'
df_new['substrate'] = 'x'
df_new['startDate'] = '2000-01-01'
df_new

/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app
/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,endDate,barrelID,males,females,notes,trapType,lure,uvled,funnel,substrate,startDate
225,2015-06-05,1,0,0,0,P,y,y,y,x,2000-01-01
635,2015-06-05,2,0,0,0,P,y,y,y,x,2000-01-01
413,2015-06-05,3,2,1,0,P,y,y,y,x,2000-01-01
631,2015-06-05,4,0,2,0,P,y,y,y,x,2000-01-01
619,2015-06-05,5,3,4,0,P,y,y,y,x,2000-01-01
276,2015-06-05,6,0,2,0,P,y,y,y,x,2000-01-01
460,2015-06-05,7,0,0,0,P,y,y,y,x,2000-01-01
427,2015-06-05,8,0,0,0,P,y,y,y,x,2000-01-01
250,2015-06-05,9,1,2,0,P,y,y,y,x,2000-01-01
245,2015-06-05,10,0,0,0,P,y,y,y,x,2000-01-01
819,2015-06-05,11,3,2,0,P,y,y,y,x,2000-01-01
319,2015-06-05,12,1,0,0,P,y,y,y,x,2000-01-01
609,2015-06-05,13,0,2,0,P,y,y,y,x,2000-01-01
143,2015-06-05,14,0,0,0,P,y,y,y,x,2000-01-01
173,2015-06-05,15,1,2,0,P,y,y,y,x,2000-01-01
434,2015-06-05,16,0,1,0,P,y,y,y,x,2000-01-01
576,2015-06-05,17,2,1,0,P,y,y,y,x,2000-01-01
253,2015-06-05,18,0,0,0,P,y,y,y,x,2000-01-01
794,2015-06-05,19,0,0,0,P,y,y,y,x,2000-01-01
440,2015-06-05,20,0,0,0,P,y,y,y,x,2000-01-01
593,2015-06-05,21,2,1,0,P,y,y,y,x,2000-01-01
184,2015-06-05,22,0,0,0,P,y,y,y,x,2000-01-01
137,2015-06-05,23,0,0,0,P,y,y,y,x,2000-01-01
584,2015-06-05,24,2,1,0,P,y,y,y,x,2000-01-01
577,2015-06-05,25,3,1,0,P,y,y,y,x,2000-01-01
846,2015-06-05,26,1,0,0,P,y,y,y,x,2000-01-01
532,2015-06-05,27,0,0,0,P,y,y,y,x,2000-01-01
265,2015-06-05,28,0,2,0,P,y,y,y,x,2000-01-01
222,2015-06-05,29,2,1,0,P,y,y,y,x,2000-01-01
683,2015-06-05,30,1,1,0,P,y,y,y,x,2000-01-01
...,...,...,...,...,...,...,...,...,...,...,...
518,2015-06-26,9,0,0,0,P,y,y,y,x,2000-01-01
452,2015-06-26,18,1,1,0,P,y,y,y,x,2000-01-01
614,2015-06-26,24,3,1,0,P,y,y,y,x,2000-01-01
687,2015-06-26,24,3,1,0,P,y,y,y,x,2000-01-01
422,2015-06-26,25,1,2,0,P,y,y,y,x,2000-01-01
650,2015-06-26,27,0,0,0,P,y,y,y,x,2000-01-01
418,2015-06-26,28,6,1,0,P,y,y,y,x,2000-01-01
472,2015-06-29,2,0,0,0,P,y,y,y,x,2000-01-01
164,2015-06-29,3,2,1,0,P,y,y,y,x,2000-01-01
669,2015-06-29,5,1,1,0,P,y,y,y,x,2000-01-01
151,2015-06-29,6,1,2,0,P,y,y,y,x,2000-01-01
200,2015-06-29,7,0,1,0,P,y,y,y,x,2000-01-01
529,2015-06-29,8,1,2,0,P,y,y,y,x,2000-01-01
629,2015-06-29,10,0,0,0,P,y,y,y,x,2000-01-01
571,2015-06-29,11,0,1,0,P,y,y,y,x,2000-01-01
497,2015-06-29,12,2,2,0,P,y,y,y,x,2000-01-01
174,2015-06-29,13,0,0,0,P,y,y,y,x,2000-01-01
550,2015-06-29,14,1,0,0,P,y,y,y,x,2000-01-01
567,2015-06-29,15,2,0,0,P,y,y,y,x,2000-01-01
588,2015-06-29,16,0,0,0,P,y,y,y,x,2000-01-01
443,2015-06-29,17,0,0,0,P,y,y,y,x,2000-01-01
520,2015-06-29,19,2,2,0,P,y,y,y,x,2000-01-01
224,2015-06-29,20,0,0,0,P,y,y,y,x,2000-01-01
272,2015-06-29,21,2,3,0,P,y,y,y,x,2000-01-01
533,2015-06-29,22,0,0,0,P,y,y,y,x,2000-01-01
522,2015-06-29,23,0,0,0,P,y,y,y,x,2000-01-01
586,2015-06-29,26,0,2,0,P,y,y,y,x,2000-01-01
621,2015-06-29,29,0,3,0,P,y,y,y,x,2000-01-01
525,2015-06-29,30,1,2,0,P,y,y,y,x,2000-01-01
615,2015-06-29,31,0,0,0,P,y,y,y,x,2000-01-01

## Update substrate column and startDate column

In [29]:
def getSubstrate(barrelID):
    substrate = df_obs['substrate'][df_obs['barrelID']==barrelID].values[0]
    return substrate

In [30]:
def getStartDate(endDate):
    if endDate == '2015-05-08':
        startDate = strMaxEndDate 
    else:
        startDate =  df_new['endDate'][df_new['endDate'] < endDate].max() 
    return startDate

In [31]:
for index, row in df_new.iterrows():
    substrate = getSubstrate(row['barrelID'])
    df_new['substrate'][index] = substrate
    startDate = getStartDate(row['endDate'])
    df_new['startDate'][index] = startDate

/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/aubreymoore/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
# Reorder columns
df_new = df_new[['startDate', 'endDate','barrelID','trapType','lure','uvled','funnel','substrate','males','females','notes']]
# Sort rows
df_new.sort(['endDate','barrelID'],inplace=True)
df_new.reset_index(drop=True, inplace=True)
df_new

## We are now ready to append the new data to the project database

In [ ]:
password = getpass.getpass()
conn = pymysql.connect(host='mysql.guaminsects.net',user='aubreymoore',passwd=password,db='oryctes')
df_new.to_sql(name='YigoBarrelObs',con=conn,flavor='mysql',if_exists='append',index=False)
conn.close()